<!-- The file upload form used as target for the file upload widget -->
<div class="col-md-8 col-md-offset-2">
    <h1>Wistia File Upload</h1>
    <form method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-md-12">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i> <span>Upload Video</span>
                <input id="fileupload" type="file" ng-model="video" ng-disabled="vm.width > 0 && vm.width < 100">
            </span>
                <!-- file processing state -->
                <div class="progress" ng-if="vm.width > 0 && !vm.displayVideo">
                    <div class="progress-bar progress-bar-success progress-bar-striped active"
                         data-ng-style="{width: vm.width + '%'}"></div>
                </div>
            </div>
        </div>
    </form>
    <div ng-if="vm.displayVideo">
        <iframe src="{{vm.displayUrl}}" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
                name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen
                msallowfullscreen width="640" height="360"></iframe>
        <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
    </div>
</div>